<h5>UPCOMING GAMES - {{ len .Games }}</h5>
<table class="table table-striped">
  <tbody>
    {{ range .Games }}
      <tr>
        <td>{{ .Date.Format "Mon Jan 2 3:04PM" }}</td>
        <td><a href="{{ urlFor . "show" }}">{{ .Description }}</a></td></td>
      </tr>
    {{ end }}
  </tbody>
</table>
