<h3>Upcoming Games ({{ len .Games }})</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Desc.</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Games }}
      <tr>
        <td>{{ .Date.Format "Mon Jan 2 3:04PM" }}</td>
        <td><a href="{{ urlFor . "show" }}">{{ .Description }}</a></td></td>
      </tr>
    {{ end }}
  </tbody>
</table>
