BEGIN:VCALENDAR
VERSION:2.0
PRODID:teamvite-icalendar
CALSCALE:GREGORIAN
X-WR-CALNAME:{{ .Team.Name }}
BEGIN:VTIMEZONE
TZID:America/Los_Angeles
BEGIN:DAYLIGHT
DTSTART:20070311T020000
TZOFFSETFROM:-0800
TZOFFSETTO:-0700
RRULE:FREQ=YEARLY;INTERVAL=1;BYMONTH=3;BYDAY=2SU
TZNAME:PDT
END:DAYLIGHT
BEGIN:STANDARD
DTSTART:20071104T020000
TZOFFSETFROM:-0700
TZOFFSETTO:-0800
RRULE:FREQ=YEARLY;INTERVAL=1;BYMONTH=11;BYDAY=1SU
TZNAME:PST
END:STANDARD
END:VTIMEZONE
{{- range .Games }}
BEGIN:VEVENT
DTSTAMP:{{ $.CreateTime.Format "20060102T150405" }}
UID:{{ .Url }}
DTSTART;TZID=America/Los_Angeles:{{ .Start.Format "20060102T150405" }}
DTEND;TZID=America/Los_Angeles:{{ .End.Format "20060102T150405" }}
DESCRIPTION:{{ .Description }}
  {{ .Url }}
SUMMARY:{{ .Description }}
END:VEVENT
{{- end }}
END:VCALENDAR
