{{ define "title" }}{{ .Team.Name }}{{ end }}
{{ define "content" }}
  <h3>
    {{ .Team.Name }}
    {{ if .IsManager }}
      <a href="{{ urlFor .Team "edit" }}"><button>Manage</button></a>
    {{ end }}
  </h3>
  <hr>
  <h5>PLAYERS - {{ len .Players }}</h5>
  <ul>
    {{ range .Players }}
      <li><a href="{{ urlFor . "show"}}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <hr>
  <h5>CALENDAR</h5>
  <a href="https://calendar.google.com/calendar/render?cid={{ CalendarUrl .Team }}" target="_blank"><button>📅 Google</button></a>
  <a href="{{ CalendarUrl .Team }}" target="_blank"><button>📅 Others</button></a>
  {{ template "upcoming_games.tmpl" . }}
{{ end }}
