{{ define "title" }}{{ .Player.Name}}'s homepage {{ end }}
{{ define "content" }}
  <h3><img class="player-pic" alt="{{ .Player.Name }}" src="https://www.gravatar.com/avatar/{{ .Player.Email | gravatarKey }}?s=480" width="36" height="36" />{{ .Player.Name }}
    {{ if .IsUser }}
      <a href="{{ urlFor .Player "edit" }}"><button>Edit</button></a>
    {{ end }}
  </h3>

  {{ if .IsUser }}
    <ul>
      <li>Email: {{ .Player.Email }}</li>
      <li>Phone: {{ Telify .Player.Phone }}</li>
    </ul>
  {{ end}}
  {{ range .Teams }}
    <hr>
    <div><h4><a href="{{ urlFor . "show" }}">{{ .Name }}</a></h4></div>
    Calendar:<br>
    <a href="https://calendar.google.com/calendar/render?cid={{ CalendarUrl . }}" target="_blank"><button>📅 Google</button></a>
    <a href="{{ CalendarUrl . }}" target="_blank"><button>📅 Others</button></a>
  {{ end }}
  <hr>
  {{ template "upcoming_games.tmpl" .}}
{{ end }}
