<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{{ block "title" .Page }}Teamvite{{ end }}</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="/css/marx.min.css">
    <link rel=stylesheet href="/css/all.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="brand" href="/">Teamvite</a></li>
        {{ if .User.ID  }}
          <li><a href="/user/logout">Logout</a></li>
          <li><a href="/player/{{ .User.ID }}/show">{{ .User.Name }}</a></li>
        {{ else }}
          <li><a href="/user/login">Login</a></li>
        {{ end }}
      </ul>
    </nav>
    <main>
      {{ template "messages.tmpl" . }}
      {{ block "content" .Page }}{{ end }}
    </main>
  </body>
</html>
