{{ define "content" }}
  <h3>{{ .Game.Description }}</h3>
  <h4>{{ .Game.Time.Format "Mon Jan 2 03:04 PM" }}</h4>
  {{ range .Responses }}
    <h5>{{ .Name }} ({{ len .Players }})</h5>
    <ul>
      {{ range .Players }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  {{ end }}
  {{ if $.ShowStatus }}
    <hr>
    <div class="clearfix">
      <div class="img-container">
        <a href="/game/{{ .Game.Id }}/show?status=Y"><button>&nbsp;Yes&nbsp;</button></a>
      </div>
      <div class="img-container">
        <a href="/game/{{ .Game.Id }}/show?status=N"><button>&nbsp;&nbsp;No&nbsp;&nbsp;</button></a>
      </div>
      <div class="img-container">
        <a href="/game/{{ .Game.Id }}/show?status=M"><button>Maybe</button></a>
      </div>
    </div>
  {{ end }}
{{ end }}
